Application/Monaco.Application.Contracts/LocaleConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LocaleConfiguration" nillable="true" type="LocaleConfiguration" />
  <xs:complexType name="LocaleConfiguration">
    <xs:sequence>
      <xs:element minOccurs="1" name="PlayerTicket" type="PlayerTicket" />
      <xs:element minOccurs="1" name="OperatorTicket" type="OperatorTicket" />
      <xs:element minOccurs="0" name="Operator" type="Operator" />
      <xs:element minOccurs="0" name="Player" type="Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlayerTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Selectable" type="PlayerTicketSelectionArray" />
      <xs:element minOccurs="0" maxOccurs="1" name="LanguageSetting">
        <xs:complexType>
          <xs:attribute default="false" name="Visible" type="xs:boolean" use="optional"/>
          <xs:attribute default="true" name="OperatorOverride" type="xs:boolean" use="optional"/>
          <xs:attribute default="false" name="ShowCheckBox" type="xs:boolean" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>  
    <xs:attribute name="Locale" type="xs:string" use="optional"/>
    <xs:attribute name="DateFormat" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="OperatorTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Selectable" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name ="LanguageSetting">
        <xs:complexType>
          <xs:attribute default="false" name="OperatorOverride" use="optional" type="xs:boolean"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence> 
    <xs:attribute name="Locale" type="xs:string" use="optional"/>
    <xs:attribute default ="yyyy-MM-dd" name="DateFormat" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="Operator">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="ArrayOfString" />
    </xs:sequence>
    <xs:attribute name="Default" type="xs:string" use="optional"/>
    <xs:attribute name="DateFormat" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="ArrayOfString" />
    </xs:sequence>
    <xs:attribute name="Primary" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType> 
  <xs:complexType name="PlayerTicketSelectionArray">
    <xs:sequence>
	  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry">
		<xs:complexType>
		  <xs:attribute name="Locale" type="xs:string" use="required" />
		  <xs:attribute name="CurrencyValueLocale" type="xs:string" use="optional" />
		  <xs:attribute name="CurrencyWordsLocale" type="xs:string" use="optional" />
		</xs:complexType>
	  </xs:element>    
    </xs:sequence>
  </xs:complexType>
</xs:schema>