Application/Aristocrat.Monaco.Application/Localization/CurrenciesConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Currencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CurrencyDefinitions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Currency">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CurrencyCode" type="xs:string" />
                    <xs:element name="ExcludedDenominations" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Format" minOccurs="0">
                      <xs:complexType>
                      	<xs:sequence>
                          <xs:element name="ExcludePluralizeMajorUnits" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="string" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ExcludePluralizeMinorUnits" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="string" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:int" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>