Application/Monaco.Application.Contracts/ErrorMessage/ErrorMessageConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ErrorMessageConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="Source" />
              <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="Mapped" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>