Gaming/Aristocrat.Monaco.Gaming.Contracts/GameHistory/GameHistoryMetersConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="GameHistoryMeterNode">
		<xs:attribute name="Name" type="xs:string" use="required" />
		<xs:attribute name="DisplayName" type="xs:string" use="required" />
		<xs:attribute name="Indent" type="xs:boolean" use="optional" default="false" />
		<xs:attribute name="Occurrence" type="xs:boolean" use="optional" default="false" />
		<xs:attribute name="HideFromTransactionsPage" type="xs:boolean" use="optional" default="false" />
	</xs:complexType>

	<xs:complexType name="ArrayOfMeterNode">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="GameHistoryMeterNode" type="GameHistoryMeterNode" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="GameHistoryMetersConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" name="MeterNodes" type="ArrayOfMeterNode" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
