Hardware/Aristocrat.Monaco.Hardware.Contracts/Discovery/ConfiguredDevicesConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="c_selectedDevice">
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="Enabled" type="xs:boolean" use="optional" default="true" />
  </xs:complexType>

  <xs:complexType name="c_deviceType">
    <xs:attribute name="Type" type="xs:string" use="required" />
  </xs:complexType>

  <xs:element name="ConfiguredDevices">
    <xs:complexType>
      <xs:sequence>

        <xs:element maxOccurs="1" name="Defaults">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Device">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="c_selectedDevice">
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element maxOccurs="1" name="Included">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Device">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="c_selectedDevice">
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element maxOccurs="1" name="Excluded">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Device">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="c_deviceType">
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>