Protocol/MGAM/Aristocrat.Monaco.Mgam.Common/Configuration/MgamConfiguration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MgamConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ValidateServerCertificate" type="xs:boolean" default="false" />
        <xs:element name="CertificateAuthority">
          <xs:complexType>
            <xs:attribute name="FilePath" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
