Hardware/Aristocrat.Monaco.Hardware.Contracts/Audio/VolumeSettingConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="i_volumescalar">
		<xs:attribute name="Key" type="VolumeScalarSetting" use="required" />
		<xs:attribute name="Value" type="xs:float" use="required" />
	</xs:complexType>

	<xs:complexType name="i_volumelevel">
		<xs:attribute name="Key" type="VolumeLevelSetting" use="required" />
		<xs:attribute name="Value" type="xs:float" use="required" />
	</xs:complexType>

	<xs:element name="VolumeSetting">
        <xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" name="MasterVolumeSettings">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="VolumeNode">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="i_volumelevel">
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="1" name="VolumeScalarSettings">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="ScalarNode">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="i_volumescalar">
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    <xs:simpleType name="VolumeScalarSetting">
        <xs:restriction base="xs:string">
			<xs:enumeration value="Scalar20" />
			<xs:enumeration value="Scalar40" />
			<xs:enumeration value="Scalar60" />
			<xs:enumeration value="Scalar80" />
			<xs:enumeration value="Scalar100" />
		</xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VolumeLevelSetting">
        <xs:restriction base="xs:string">
			<xs:enumeration value="ExtraLow" />
			<xs:enumeration value="Low" />
			<xs:enumeration value="MediumLow" />
			<xs:enumeration value="Medium" />
			<xs:enumeration value="MediumHigh" />
			<xs:enumeration value="High" />
			<xs:enumeration value="ExtraHigh" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>